<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL" value="http://travelwithus.asia/"/>
    <add key="logPath" value="\TestSuites\Reports\"/>
    <add key="testDataPath" value="\TestSuites\TestData\"/>
    <add key="browser" value="chrome"/>
  </appSettings>
</configuration>